@import url(reset.css);

html{
    height: 100%;
}
body{
    height: 100%;
}

header{
    background: #33485F;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

main{
    display: flex;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main > div.nav-bar{
    padding-top: 15px;

    flex: 2;
    background: #E8E7FE;
}

main > div.nav-bar ul{
    padding-left: 20px;
    padding-right: 20px;
}

main > div.nav-bar ul > li{
    font-size: 25px;
    padding-bottom: 20px;
    cursor: pointer;
    color: #33485F;

}
main > div.nav-bar ul > li:hover{
    text-decoration: underline;
}
main > div.nav-bar ul > li.active{
    text-decoration: underline;
}

main > div.content{
    padding-top: 15px;

    flex: 5;
    background: #FEFEFE;
}
main > div.content table.tournament-table {
    width: 100%;
}
main > div.content table.tournament-table th, main > div.content table.tournament-table td{
    border-bottom: 1px solid #2B3D52;
}

main > div.content .select-teams{
    display: flex;
}
main > div.content .select-teams > .first-team, main > div.content .select-teams > .second-team{
    flex: 1;
    background: darkcyan;
}
main > div.content .select-teams > .first-team > .team, main > div.content .select-teams > .second-team > .team{
    padding-bottom: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
main > div.content .select-teams > .first-team > .team.active, main > div.content .select-teams > .second-team > .team.active{ 
    background: cornflowerblue;
}
body > main > div.content > div.select-teams-button{
    cursor: pointer;
    text-align: center;
    width: 25%;
    margin: 0 auto;
    padding: 10px;
    background: #3950A6;
    color: white;
    border-radius: 10px;
}

body > main > div.content div.match-events > div.new-event{
    display: flex;
}
body > main > div.content div.match-events > div.new-event > div.ev,body > main > div.content div.match-events > div.new-event > div.btn {
    flex: 1;
}
body > main > div.content div.match-events > div.new-event > div.btn:hover{
    text-decoration: underline;
    cursor: pointer;
}
#match  div.events > div.event{
    display: flex;
}
#match  div.events > div.event > div.ev{
    flex: 1;
}

#player  div.stats > div.line{
    display: flex;
}
#player  div.stats > div.line > div.st{
    flex: 1;
}
#stats  div.line{
    display: flex;
}
#stats  div.line > div.st{
    flex: 1;
}