<div class="nav-bar">
	<ul>
		<li data-type="stangings"><a href="/show-table">Show current standings</a></li>
		<li data-type="statistics"><a href="/show-statistics">Show current statistics</a></li>
		<li><a href="/create-match">Create match</a></li>
		<li data-type="settings"><a href="/show-settings">Change tournament settings</a></li>
	</ul>
</div>